.Products__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    min-height: 100vh;
}
.Products__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}